
/* main container of the navbar */
.navbarContainer{
    background-image: linear-gradient(105.5deg, rgba(179, 239, 239, 0) 11%, rgb(244, 246, 166) 74.9%);
    width: 95%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding:0px 5%;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    position: sticky;
    top: 0;
    z-index: 99;
    color:rgb(9, 9, 9);
}

/* app name inside navbar */
.appName a:hover{
    color: rgb(7, 7, 7);
}

/* all the navigating links */
.navLinks{
    float: right;
}

.navLinks img{
    width: 30px;
    height: 30px;
}

/* styling link */
.navLinks .logo_name{
    color: white;
    background-image: 
        linear-gradient(45deg, rgba(248, 111, 31, 0.7) 0%, rgba(218, 15, 147, 0.7) 50%),
        linear-gradient(15deg, rgba(241, 191, 83, 0.7) 0%, rgba(218, 15, 171, 0.7) 50%),
        linear-gradient(25deg, rgba(248, 111, 31, 0.7) 0%, rgba(252, 237, 28, 0.7) 50%),
        linear-gradient(315deg, rgba(248, 111, 31, 0.7) 0%, rgba(218, 15, 183, 0.7) 50%);
        padding: 5px 10px;
}

/* single link within the navlink */
.navLinks span {
    margin: 10px; 
    cursor: pointer;
    color: black;
}

/* style on hover over the link */
.navLinks a:hover{
    color:rgb(56, 186, 114);
}


/* Media Queries */
@media screen and (max-width: 768px) {
    .navbarContainer {
        flex-direction: column;
        height: auto; /* Adjust height to fit content */
        padding: 10px;
    }

    .navLinks {
        float: none;
        margin-top: 10px; /* Adjust margin */
        text-align: center; /* Align links to center */
    }

    .navLinks span {
        margin: 10px 0; /* Adjust margin */
    }
}